.list-item{
    position: relative;
    display: flex;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.list-icon{
    display: inline-flex;
}

.list-title{
    display: inline-flex;
    align-items:center;
    font-size: 150%;
}

.move-size{
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 1em 1em;
    background-color: 	#D3D3D3;
    font-size: 150%;
}