.all-sons-logo{
    margin-top: 1em;
    margin-bottom: 1em;
}

.fa-angle-left{
    float: left;
    margin-top: 0.95em;
    margin-left: 0.75em;
}

.fa-phone-right{
    float: right;
    margin-top: 1.5em;
    margin-right: 1em;
}

.nav-bar{
    text-align: center;
}